doctype html
html
  head
    title Afghani Dance Club 
    block scripts
    block style 
  body
   nav#navbar 
      
      ul
        div#logo
          img(src="../static/DanceLogo.png", alt="")
          p#logotext adc 
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Class ]
        li #[a(href="/contact") Contact Us ]
  block content
  footer#footer 
      p  © Copyright adc | all rights reserved
      